.header {
    display: flex;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;

        &__logo {
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            color: $primary-color;
        }

        .nav-menu {
            display: flex;

            &__item {
                list-style-type: none;

                &__link {
                    padding: 0 1rem;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $primary-color;
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }

        .nav__sign {
            display: flex;
            gap: 1rem;
            align-items: center;
        }
    }

    .header-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;

        &__left {
            flex-basis: 50%;
    
            &__title {
                font-size: 3.5rem;
                font-family: 'Playfair Display', serif;
                color: $primary-color;
                line-height: 1.1;
            } 

            &__text {
                line-height: 1.4;
                color: #383838;
                font-size: 1.3rem;
                margin: 1.5rem 0;
                font-weight: 200;
            }
        }

        &__right {
            background-color: $secondary-color;
            border-radius: 50%;
            overflow: hidden;

            & img {
                width: 26rem;
                animation: rotate 7s ease-in-out infinite ;

                @keyframes rotate {
                    from {
                        transform: rotate(0deg);
                    }

                    to {
                        transform: rotate(360deg);
                    }
                }
            }
        }
        

    } 
}
