* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #FFF1CC;
}

.container {
    max-width: 85rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn-underline {
    color: $primary-color;
    text-decoration: underline;
    font-weight: 600;
}

// .primary-btn {

// }